<a href="https://colab.research.google.com/github/voldrek/Curso_alura/blob/main/PYTHON-PARA-DATA-SCIENCE-PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [ ]:
!python -V

# 1.3 Trabalhando com dados

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.set_option.html

In [ ]:
import pandas as pd
# pd.set_option('display.max_rows', 10)
# pd.set_option('display.max_columns', 1000)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

In [ ]:
dataset.dtypes

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

In [ ]:
dataset.info()

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

In [ ]:
1, 2, 3

In [ ]:
nome = 'Passat'
valor = 153000
(nome, valor)

In [ ]:
['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
type(nomes_carros)

# 2.2 Seleções em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

In [ ]:
nomes_carros[0]

In [ ]:
nomes_carros[1]

In [ ]:
nomes_carros[-1]

In [ ]:
nomes_carros[1:3]

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

In [ ]:
nomes_carros[-1]

In [ ]:
nomes_carros[-1][1]

nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

In [ ]:
for item in nomes_carros:
  print(item)

### Desempacotamento de tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

In [ ]:
carro_2

In [ ]:
carro_3

In [ ]:
carro_4

In [ ]:
_, A, _, B = nomes_carros

In [ ]:
A

In [ ]:
B

In [ ]:
_, C, *_ = nomes_carros

In [ ]:
C

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

In [ ]:
list(zip(carros, valores))

In [ ]:
for item in zip(carros, valores):
  print(item)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

In [ ]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

In [ ]:
carros.index('Passat')

In [ ]:
valores[carros.index('Passat')]

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
type(dados)

### Criando dicionários com *zip()*

In [ ]:
list(zip(carros, valores))

In [ ]:
dados = dict(zip(carros, valores))
dados

# 3.2 Operações com dicionários

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['Passat']

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados

In [ ]:
'Fusca' in dados

In [ ]:
'Fusca' not in dados

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados)

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados['DS5'] = 124549.07

In [ ]:
dados

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
dados

In [ ]:
del dados['Passat']
dados

# 3.3 Métodos de dicionários

https://docs.python.org/3.6/tutorial/datastructures.html#dictionaries

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados

In [ ]:
dados.update({'Passat': 106161.94})
dados

In [ ]:
dados.update({'Passat': 106161.95, 'Fusca': 150000})
dados

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados.copy()

In [ ]:
dadosCopy

In [ ]:
del dadosCopy['Fusca']
dadosCopy

In [ ]:
dados

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dadosCopy

In [ ]:
dadosCopy.pop('Passat')

In [ ]:
dadosCopy

In [ ]:
# dadosCopy.pop('Passat')

In [ ]:
dadosCopy.pop('Passat', 'Chave não encontrada')

In [ ]:
dadosCopy.pop('DS5', 'Chave não encontrada')

In [ ]:
dadosCopy

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

# 3.4 Iterando em dicionários

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07, 'Fusca': 150000, 'Jetta Variant': 88078.64, 'Passat': 106161.95}
dados

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados.keys()

In [ ]:
for key in dados.keys():
  print(dados[key])

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()

In [ ]:
for item in dados.items():
  print(item)

In [ ]:
for key, value in dados.items():
  print(key, value)

In [ ]:
for key, value in dados.items():
  if(value > 100000):
    print(key)

# <font color=green> 4. FUNÇÕES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

In [ ]:
# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [ ]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

In [ ]:
soma = 0
for valor in dados.values():
  soma += valor
soma

In [ ]:
list(dados.values())

In [ ]:
sum(dados.values())

In [ ]:
help(print)

In [ ]:
print?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
def media():
  valor = (1 + 2 + 3) / 3
  print(valor)

In [ ]:
media()

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
def media(number_1, number_2, number_3):
  valor = (number_1 + number_2 + number_3) / 3
  print(valor)

In [ ]:
media(1, 2, 3)

In [ ]:
media(23, 45, 67)

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  print(valor)

In [ ]:
resultado = media([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
resultado

In [ ]:
type(resultado)

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  return valor

In [ ]:
media([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
resultado = media([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
resultado

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))

In [ ]:
media([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
resultado, n = media([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
resultado

In [ ]:
n

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

In [ ]:
pd.Series(carros)

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

In [ ]:
dataset[['Nome', 'Motor', 'Ano', 'Quilometragem', 'Zero_km', 'Valor']]

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(dados)

In [ ]:
dataset

### Criando um DataFrame a partir de uma arquivo externo

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';', index_col = 0)

In [ ]:
dataset

# 5.2 Seleções com DataFrames

In [ ]:
dataset.head()

### Selecionando colunas

In [ ]:
dataset['Valor']

In [ ]:
type(dataset['Valor'])

In [ ]:
dataset[['Valor']]

In [ ]:
type(dataset[['Valor']])

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [ ]:
dataset[0:3]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
dataset.loc['Passat']

In [ ]:
dataset.loc[['Passat', 'DS5']]

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

In [ ]:
dataset.loc[:, ['Motor', 'Valor']]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
dataset.head()

In [ ]:
dataset.iloc[[1]]

In [ ]:
dataset.iloc[1:4]

In [ ]:
dataset.iloc[1:4, [0, 5, 2]]

In [ ]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

In [ ]:
dataset.iloc[:, [0, 5, 2]]

# 5.3 Queries com DataFrames

In [ ]:
dataset.head()

In [ ]:
dataset.Motor

In [ ]:
select = dataset.Motor == 'Motor Diesel'

In [ ]:
type(select)

In [ ]:
dataset[select]

In [ ]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

In [ ]:
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

### Utilizando o método query

In [ ]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

# 5.4 Iterando com DataFrames

In [ ]:
dataset.head()

In [ ]:
for item in dataset:
  print(item)

In [ ]:
for index, row in dataset.iterrows():
  if(2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
  else:
    dataset.loc[index, 'Km_media'] = 0
    
dataset

# 5.5 Tratamento de dados

In [ ]:
dataset.head()

In [ ]:
dataset.info()

In [ ]:
dataset.Quilometragem.isna()

In [ ]:
dataset[dataset.Quilometragem.isna()]

In [ ]:
dataset.fillna(0, inplace = True)

In [ ]:
dataset.query("Zero_km == True")

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')

In [ ]:
dataset

In [ ]:
dataset.dropna(subset = ['Quilometragem'], inplace = True)

In [ ]:
dataset